.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  text-align: right;
}
.left-side {
  width: 40%;
  display: block;
  float: left;
}
.right-side {
  width: 30%;
  display: block;
  float: left;
}
